{% extends 'base.html' %}
{% load static %}

{% block body %}

<main class="principal principal--padding-b principal--gap">

  <section class="banner-individual">
      <img src="{% static 'images/quem.png' %}" alt="Banner Gif Desktop"/>
  </section>



  <section class="s-produto">

    <div class="s-produto__informacoes">

      <div class="s-produto__infos">
        <h1 class="s-produto__titulo">Smart Cartridge</h1>

      </div>
      
      <div class="s-produto__descricao">
        <!--<p class="s-produto__descricao-titulo">Sobre nos</p>-->

        <div class="s-produto__descricao-textos" style="text-align: justify;">
          <p>Somos uma empresa especializada no reenchimento e reciclagem de tinteiros e toners para impressoras. </p>
          <p>Oferecemos serviços de reenchimento de cartuchos na hora, serviços de impressões, produção de 
            fotografias desde o tamanho tipo passe até o A4, assistência técnica a impressoras e equipamentos eletrônicos.</p>
          <p>Também disponibilizamos uma gama de produtos relacionados, incluindo tinteiros e toners originais de diversas 
            marcas, tinteiros e toners compatíveis  de diversas marcas, produção de itens personalizados como canecas, cartões de visita, flyers e carimbos.</p>
          <p>Nossos clientes se beneficiam de poupanças significativas, podendo economizar até 60% em comparação com a compra de cartuchos novos, além de 
            contribuir para a redução de resíduos enviados para aterros sanitários.</p>
        </div>
      </div>
    </div>
  </section>


  <section class="s-produto">

    <div class="s-produto__informacoes">

      <div class="s-produto__infos">
        <h1 class="s-produto__titulo">Nossa cultura</h1>

      </div>
      
      <div class="s-produto__descricao">
        <!--<p class="s-produto__descricao-titulo">Sobre nos</p>-->

        <div class="s-produto__descricao-textos" style="text-align: justify;">
          <p>A nossa cultura é centrada em princípios de sustentabilidade, economia e foco no cliente, alinhados com a nossa missão de promover soluções de impressão que sejam ambientalmente responsáveis e economicamente vantajosas.</p>
          
          <p>Promovemos práticas ambientalmente responsáveis ao incentivar o reenchimento e a reciclagem de cartuchos, reduzindo significativamente o impacto ambiental e contribuindo para a preservação do meio ambiente, dessa forma ajudamos os clientes a reduzirem sua emissão de resíduos, ao mesmo tempo em que se beneficia do custo reduzido.</p>
          
          <p>O foco no cliente é outra característica que presamos. Nossa empresa prioriza um atendimento próximo e personalizado, garantindo que as necessidades dos clientes sejam atendidas de forma rápida e eficiente.</p>
          
          <p>Essa nossa cultura integra de forma harmoniosa a sustentabilidade, a economia e o foco no cliente, criando valor para todas as partes envolvidas e contribuindo para um futuro mais sustentável.</p>
        </div>
      </div>
    </div>
  </section>

</main>



{% endblock %}